@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var twitterHandler = Model.MacroParameters["twitterHandle"] as string;
}
<div class="container">
    <a class="twitter-timeline" href="https://twitter.com/@twitterHandler?ref_src=twsrc%5Etfw">
        Tweets by <@twitterHandler></@twitterHandler>
    </a>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>