@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models;
@{
    var usefulLinks = Model.Content.Value<IEnumerable<IPublishedElement>>("linkNestedContent");
}
@if (usefulLinks != null)
{
    <h2>Useful Links</h2>
    <ul>
        @foreach (var link in usefulLinks)
        {
            var url = link.Value<Link>("linkUrl").Url;
            var icon = link.Value("linkIcon");
            <li>
                <a href="@url">
                    <i class="@icon"></i>
                    @link.Value("linkText")
                </a>
            </li>

        }
    </ul>
}