@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "main.cshtml";
}

@Html.Partial("Hero");
@Html.Partial("CallToAction")
@Html.Partial("LatestNews");

@* Latest Tweets *@
<div class="container">
    @Umbraco.RenderMacro("GetLatestTweets", new { twitterHandle = "InstantGamingEN" })
</div>