@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewsArticles>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "main.cshtml";
    var heroOverlayColour = Model.Value<string>("heroOverlayColour");
    var articles = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("newsArticles").FirstOrDefault();
}
<style>
	.home-hero > .overlay {
		background-color: #@heroOverlayColour !important;
		opacity: 0.70 !important;
	}
</style>

@Html.Partial("Hero")

@foreach (var article in articles.Children.OrderBy(order => order.Value<DateTime>("postDate")))
{
    <ul>
        <li>
            @article.Name
        </li>
    </ul>
}
