@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewsArticles>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Core.PropertyEditors.ValueConverters;
@section head {
    <style>
        .card-horizontal {
            display: flex;
            flex: 1 1 auto;
        }
    </style>
}
@{
    Layout = "main.cshtml";
    var heroOverlayColour = Model.Value<string>("heroOverlayColour");
    var articles = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("newsArticles").FirstOrDefault();
}
<style>
	.home-hero > .overlay {
		background-color: #@heroOverlayColour !important;
		opacity: 0.70 !important;
	}
</style>

@Html.Partial("Hero")

@foreach (var article in articles.Children.OrderBy(order => order.Value<DateTime>("postDate")))
{
    var imageCropper = article.Value<ImageCropperValue>("articleImage");
    var imageUrl = imageCropper.Src + imageCropper.GetCropUrl("thumb");

    // Render the news card
    <div class="card my-25">
        <a class="card-block stretched-link text-decoration-none" href="@article.Url">
            <div class="card-horizontal">

            </div>
        </a>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-8 bg-light p-0">
            @* Rendering news as card *@
            <div class="container">
                <div class="row">
                    <div class="col p-0">
                        @* Render card  *@

                    </div>
                </div>
            </div>
            Left
        </div>
        <div class="col-md-4 bg-light">
            @* Render the filer in the sidebar *@
            Right
        </div>
    </div>
</div>