@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewsArticles>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "main.cshtml";
    var heroOverlayColour = Model.Value<string>("heroOverlayColour");
    var articles = Umbraco.ContentAtRoot().DescendantsOrSelfOfType("newsArticles").FirstOrDefault();
}
<style>
	.home-hero > .overlay {
		background-color: #@heroOverlayColour !important;
		opacity: 0.70 !important;
	}
</style>

@Html.Partial("Hero")

@foreach (var article in articles.Children.OrderBy(order => order.Value<DateTime>("postDate")))
{
    var imageCropper = article.Value<ImageCropperValue>("articleImage");
    var imageUrl = imageCropper.Src + imageCropper.GetCropUrl("thumb");

    // Render the news card
    <div class="card my-25">
        <a class="card-block stretched-link text-decoration-none" href="@article.Url">
            <div class="card-horizontal">

            </div>
        </a>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-8 bg-light">Left</div>
        <div class="col-md-4 bg-light">Right</div>
    </div>
</div>