@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
Layout = "main.cshtml";
var heroOverlayColour = Model.Value<string>("heroOverlayColour");
}

@if(!string.IsNullOrEmpty(heroOverlayColour))
{
	<style>
	.home-hero > .overlay {
		background-color: #@heroOverlayColour !important;
		opacity: 0.70 !important;
	}
</style>
}

@Html.Partial("hero")

<header>
	<form action="@Model.Url" method="get">
		<fieldset>
            <input type="text" name="query" placeholder="Search..."/>
            <button class="class-search">Search</button>
		</fieldset>
	</form>
</header>
<h1>Search</h1>